{% comment %}
  Handles displaying product price, including sale price if applicable.
  Usage: {% render 'price' with product: product %}
{% endcomment %}

{% if product.compare_at_price > product.price %}
    <p class="price">
        <span class="visually-hidden">On sale: </span>
        <span class="final-price">{{ product.price | money }}</span>
        <span class="visually-hidden">Original price: </span>
        <del class="original-price">{{ product.compare_at_price | money }}</del>
    </p>
    {% else %}
    <p class="price">
        <span class="visually-hidden">Price: </span>
        <span class="final-price">{{ product.price | money }}</span>
    </p>
{% endif %}