<div class="container">
  <code class="h5">{{- filename -}}</code>
  {%- if customers_template -%}
    <br>
    For <a href="https://help.shopify.com/en/manual/customers/customer-accounts" target="_blank" rel="noopener noreferrer">legacy customer accounts</a> only.
  {%- endif -%}
</div>
