.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: $border-radius;
  background-color: $color-grey;
  padding: px-to-rem(24);
  h2 {
    font-size: fluid-type(20, 24);
  }
.image-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: px-to-rem(16);
    .product-card__image {
        border-radius: $border-radius;
        background-color: $color-highlight-light;
        padding: 20px;
        max-width: 100%;
        height: auto;
    }
    .product-card__badge {
        background-color: $color-highlight-dark;
        border-radius: 50px;
        color: $color-secondary;
        padding: px-to-rem(8) px-to-rem(16);
        font-size: 12px;
        font-weight: $font-weight-bold;
        position: absolute;
        top: px-to-rem(8);
        left: px-to-rem(16);
        text-transform: uppercase;
        line-height: 110%;
    }
}
  
  .price {
    font-size: fluid-type(14, 16);
    .final-price {
        font-weight: $font-weight-bold;
    }
  }
  .button-circle {
        background-color: $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        align-self: flex-end;
    }
}
