<div class="container">
  <div class="row">
    {%- comment -%}
      Adding h1 for accessibility and SEO, but hiding it as it's not included in the mockup.
    {%- endcomment -%}
    <h1 class="visually-hidden">{{ collection.title }}</h1>
  {%- for product in collection.products -%}
    <div class="col-lg-4 col-md-6 col-12">
      {% render 'product-card', product: product %}
    </div>
  {%- endfor -%}
  </div>
</div>
{%- schema -%}
{
  "name": "Collection",
  "tag": "section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Collection"
    }
  ],
  "enabled_on": {
    "templates": ["collection"]
  }
}
{%- endschema -%}
