<div class="row">
{%- for product in collection.products -%}
  {% render 'product-card', product: product %}
{%- endfor -%}
</div>

{%- schema -%}
{
  "name": "Collection",
  "tag": "section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Collection"
    }
  ],
  "enabled_on": {
    "templates": ["collection"]
  }
}
{%- endschema -%}
