<div class="bg-primary text-light py-4">
  <div class="container-lg">
    <code class="h5 m-0 text-light">footer.liquid</code>
  </div>
</div>

{%- schema -%}
{
  "name": "Footer",
  "class": "mt-auto",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Footer"
    }
  ],
  "enabled_on": {
    "groups": ["footer"]
  }
}
{%- endschema -%}
