<div class="container text-center">
  <h1 class="mb-5">Welcome to the Marvel & Snap Shopify Skill Test!</h1>
  <p class="h4">Please refer to <code>README.md</code> for instructions. Good luck!</p>
</div>

{%- schema -%}
{
  "name": "Index",
  "tag": "section",
  "settings": [],
  "enabled_on": {
    "templates": ["index"]
  }
}
{%- endschema -%}
