<nav id="navbar" class="navbar navbar-expand bg-primary py-4" data-bs-theme="dark">
  <div class="container-lg">
    <code class="h5 m-0 text-light">navbar.liquid</code>
  </div>
</nav>

{%- schema -%}
{
  "name": "Navbar",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Navbar"
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  }
}
{%- endschema -%}
