{%- render 'utility.make-section-placeholder', filename: 'product.liquid' -%}

<div class="container">
  <div class="pdp--above-the-fold row">
    <div class="slick-carousel col-lg-6 col-12">
      {% render 'pdp-slick-carousel' with product: product %}
    </div>
    <div class="product-info col-lg-6 col-12">
      <h1 class="product-title">{{ product.title }}</h1>
      <p class="product-price">{% render 'price', product: product %}</p>
      <p class="product-description">{{ product.description }}</p>
      <button class="button-atc">Add to Cart</button>
      <div class="accordions">
        //accordions go here
      </div>
    </div>
  </div>
</div>
{%- schema -%}
{
  "name": "Product",
  "tag": "section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Product"
    }
  ],
  "enabled_on": {
    "templates": ["product"]
  }
}
{%- endschema -%}
